@charset "UTF-8";

.image-field-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  border: 1px solid #CCD2DC;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.8rem;
  ;

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}