.wrap {
  width: calc(100% - 500px);
  padding: 10px 0 0 20px;
  margin: 0 auto;

}

.imgGroup {
  height: 500px;
  background-color: rgb(211, 211, 211);
}

ul.infoGroup {
  margin: 30px 0;

  &>li {
    border-bottom: 1px solid #cecece;

    span {
      width: 100%;
    }

    &>ol {
      list-style: square inside;
      padding: 10px 0 30px;
    }
  }

}